body {
    background-color: #263238;
}

h1 {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

.board {
    width: 1000px; /* 表の幅 */
    height: 500px; /* 表の高さ */
    /* 中央揃えにする */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.field_table {
    width: 1000px; /* 表の幅 */
    height: 500px; /* 表の高さ */
    /* 中央揃えにする */
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50px; /* セルの幅 */
    height: 50px; /* セルの高さ */
    background-color: #455A64; /* 背景色 */
}

.r {
    background-color: #FF0000; /* red */
}

.g {
    background-color: #00FF00; /* green */
}

.y {
    background-color: #FFFF00; /* green */
}

.b {
    background-color: #111111; /* black */
}
