body {
    width: 1000px;
    height: 1000px;
    background-color: #263238;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    
}

.score_table {
    width: 1000px;
    height: 200px;
}

.field_table {
    width: 1000px;
    height: 500px;
    color: #000000;
}

td {
    width: 50px;
    height: 50px;
    background-color: #455A64; /* 背景色 */
}

.r {
    background-color: #FF0000; /* red */
}

.g {
    background-color: #00FF00; /* green */
}

.y {
    background-color: #FFFF00; /* green */
}

.b {
    background-color: #111111; /* black */
}
